.card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin: 15px;

    &_image {
        width: 100%;
        height: auto;
    }

    &_overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: white;
        transform: translateY(100%);
        transition: .2s ease-in-out;
    }

    &_container {
        position: relative;
        display: flex;
        align-items: center;
        padding: .5em 1em;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: white;
        transform: translateY(-100%);
        transition: .2s ease-in-out;
        &_text {
            h3 {
                font-size: .8em;
                color: black;
            }
            span {
                font-size: .6em;
                color: black;
            }
        }
    }

    &_description {
        &_text {
            font-size: .6em;
            margin: 0;
            color: black;
        }
    }

    &_button {
        padding: 1em 2em;
        border: 0;
        margin: 1em 0;
        border-radius: 25px;
        background-color: #3d94cf;
        color: white;
        font-weight: Bold;
        transition: all 0.5s;
    }

    &_button:hover {
        background-color: #6fc5ff;
        box-shadow: 0 0 20px #6fc5ff50;
    }

    &_button:active {
        background-color: #3d94cf;
        transition: all 0.25s;
        box-shadow: none;
    }

}

.card:hover {
    .card{
        &_header {
            transform: translateY(0);
        }
        &_overlay {
            transform: translateY(0);
        }
    }
}

@media screen and (min-width: 1280px) {
    .card{
        width: 30%;
    }
}