.header {
    padding: 1.5em 1em;
    margin: auto;
    background-color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .header{
        padding: 1.5em 2em;
    }
}

.header_element {
    width: 6em;
}

@media screen and (min-width: 1280px) {
    .header_element {
        width: 8em;
    }
}